a,
#home-slider .caption h1 span,
#twitter-carousel .item span,
#footer .footer-bottom,
#single-portfolio .close-folio-item:hover,
.single-table.featured .btn.btn-primary,
.contact-info ul li a:hover,
#footer .footer-bottom a {
    color: #339900;
}

.btn.btn-primary:hover,
.btn-submit{
    border:1px solid #ccc;
    background: transparent;
    border-color: rgba(255,255,255,.1);}

.btn-submit:hover {
    background-color: none;
}

a:hover,
a:focus {
    color: #027db3;
}
.navbar-brand img{ max-height: 50px;}
.service-icon,
.progress-bar.progress-bar-primary,
.single-table.featured,
.btn.btn-primary,
.twitter-icon .fa-twitter,
.twitter-left-control:hover,
.twitter-right-control:hover,
.post-icon,
.entry-header .date:after,
.btn-loadmore:hover,
#footer,
.caption .btn-start:hover,
.left-control:hover,
.right-control:hover,
.folio-overview a:hover {
    background-color: none;
}

.twitter-left-control:hover,
.twitter-right-control:hover,
.btn-loadmore:hover {
    border: 1px solid #fff;
}

.main-nav {
    background: #fff;
-webkit-box-shadow: -2px 7px 18px -2px rgba(0,0,0,0.4);
-moz-box-shadow: -2px 7px 18px -2px rgba(0,0,0,0.4);
box-shadow: -2px 7px 18px -2px rgba(0,0,0,0.4);
}

.caption .btn-start:hover,
.left-control:hover,
.right-control:hover {
    border-color: #fff;
}

.twitter-icon .fa-twitter:after {
    border-color: #028fcc transparent transparent;
}