@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: "Open Sans", arial, sans-serif;
}

p {
    font-family: "Open Sans", arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.botao {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

a,
#home-slider .caption h1 span,
#twitter-carousel .item span,
#footer .footer-bottom,
#single-portfolio .close-folio-item:hover,
.single-table.featured .btn.btn-primary,
.contact-info ul li a:hover,
#footer .footer-bottom a {
    color: #339900;
}

#portfolio,
#contact,
#footer {
    background: #fff;
}

#contact a {
    color: #fff;
}

.btn.btn-primary:hover,
.btn-submit {
    border: 1px solid #ccc;
    background: transparent;
    border-color: rgba(255, 255, 255, .1);
}

.btn-submit:hover {
    background-color: none;
}

#portfolio a {
    color: #000;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a:hover,
a:focus {
    color: #339900;
    text-decoration: underline;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 0;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand img {
    max-height: 33px;
}

.service-icon,
.progress-bar.progress-bar-primary,
.single-table.featured,
.btn.btn-primary,
.twitter-icon .fa-twitter,
.twitter-left-control:hover,
.twitter-right-control:hover,
.post-icon,
.entry-header .date:after,
.btn-loadmore:hover,
#footer,
.caption .btn-start:hover,
.left-control:hover,
.right-control:hover,
.folio-overview a:hover {
    background-color: none;
}

.twitter-left-control:hover,
.twitter-right-control:hover,
.btn-loadmore:hover {
    border: 1px solid #fff;
}

.main-nav {
    background: #fff;
    -webkit-box-shadow: -2px 7px 18px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -2px 7px 18px -2px rgba(0, 0, 0, 0.4);
    box-shadow: -2px 7px 18px -2px rgba(0, 0, 0, 0.4);
    max-height: 60px;
}

.caption .btn-start:hover,
.left-control:hover,
.right-control:hover {
    border-color: #fff;
}

.twitter-icon .fa-twitter:after {
    border-color: #028fcc transparent transparent;
}

.space {
    padding: 5px 0 30px 0;
}

.vimeo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    pointer-events: none;
    overflow: hidden;
}

.vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home-slider .botao {
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

#home-slider .botao a {
    border: 1px solid #fff;
    padding: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
#home-slider .botao a:hover {
background: #fff;
    color: #aaa;
    text-decoration: none;
}